<a href="datacamp.com/workspacecompetition" target="_blank">![banner](banner.png)</a>

# Internet News and Consumer Engagement

Ready to put your coding skills to the test? Join us for our Workspace Competition.  
For more information, visit [datacamp.com/workspacecompetition](https://datacamp.com/workspacecompetition)

## Context
This dataset ([source](https://www.kaggle.com/szymonjanowski/internet-articles-data-with-users-engagement)) consists of data about news articles collected from Sept. 3, 2019 until Nov. 4, 2019. Afterwards, it is enriched by Facebook engagement data, such as number of shares, comments and reactions. It was first created to predict the popularity of an article before it was published. However, there is a lot more you can analyze; take a look at some suggestions at the end of this template.

In [2]:
# Load packages
import numpy as np 
import pandas as pd

## Load your data

In [3]:
# Load data from the csv file
df = pd.read_csv('news_articles.csv', index_col=0)
print(f"Number of rows/records: {df.shape[0]}")
print(f"Number of columns/variables: {df.shape[1]}")
df.head()

Number of rows/records: 10437
Number of columns/variables: 14

,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0,0.0
1,the-irish-times,The Irish Times,Eoin Burke-Kennedy,Unemployment falls to post-crash low of 5.2%,Latest monthly figures reflect continued growt...,https://www.irishtimes.com/business/economy/un...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T10:32:28Z,The States jobless rate fell to 5.2 per cent l...,0.0,6.0,10.0,2.0,0.0
2,the-irish-times,The Irish Times,Deirdre McQuillan,"Louise Kennedy AW2019: Long coats, sparkling t...",Autumn-winter collection features designer’s g...,https://www.irishtimes.com/\t\t\t\t\t\t\t/life...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T14:40:00Z,Louise Kennedy is showing off her autumn-winte...,1.0,NaN,NaN,NaN,NaN
3,al-jazeera-english,Al Jazeera English,Al Jazeera,North Korean footballer Han joins Italian gian...,Han is the first North Korean player in the Se...,https://www.aljazeera.com/news/2019/09/north-k...,https://www.aljazeera.com/mritems/Images/2019/...,2019-09-03T17:25:39Z,"Han Kwang Song, the first North Korean footbal...",0.0,0.0,0.0,7.0,0.0
4,bbc-news,BBC News,BBC News,UK government lawyer says proroguing parliamen...,"The UK government's lawyer, David Johnston arg...",https://www.bbc.co.uk/news/av/uk-scotland-4956...,https://ichef.bbci.co.uk/news/1024/branded_new...,2019-09-03T14:39:21Z,NaN,0.0,0.0,0.0,0.0,0.0

## Understand your variables

In [4]:
# Understand your variables
variables = pd.DataFrame(columns=['Variable','Number of unique values','Values'])

for i, var in enumerate(df.columns):
    variables.loc[i] = [var, df[var].nunique(), df[var].unique().tolist()]
    
variables

var_dict = pd.read_csv('vars_description.csv', index_col=0)
variables.set_index('Variable').join(var_dict)

,Number of unique values,Values,Description
Variable,,,
source_id,13,"[reuters, the-irish-times, al-jazeera-english,...",publisher unique identifier
source_name,13,"[Reuters, The Irish Times, Al Jazeera English,...",Human-readable publisher name
author,2580,"[Reuters Editorial, Eoin Burke-Kennedy, Deirdr...",article author
title,9810,[NTSB says Autopilot engaged in 2018 Californi...,article headline
description,9173,[The National Transportation Safety Board said...,article short description
url,10433,[https://www.reuters.com/article/us-tesla-cras...,article URL from publisher website
url_to_image,8363,[https://s4.reutersmedia.net/resources/r/?m=02...,url to main image associated with the article
published_at,9441,"[2019-09-03T16:22:20Z, 2019-09-03T10:32:28Z, 2...",exact time and date of publishing the article
content,8385,[WASHINGTON (Reuters) - The National Transport...,unformatted content of the article truncated t...
top_article,2,"[0.0, 1.0, nan]",value indicating if article was listed as a to...
engagement_reaction_count,1187,"[0.0, 6.0, nan, 4.0, 50.0, 17.0, 9.0, 37.0, 1....",users reactions count for posts on Facebook in...
engagement_comment_count,817,"[0.0, 10.0, nan, 6.0, 77.0, 1.0, 7.0, 5.0, 8.0...",users comments count for posts on Facebook inv...
engagement_share_count,1065,"[2528.0, 2.0, nan, 7.0, 0.0, 817.0, 12.0, 8.0,...",users shares count for posts on Facebook invol...
engagement_comment_plugin_count,10,"[0.0, nan, 1.0, 15.0, 2.0, 3.0, 5.0, 4.0, 8.0,...",Users comments count for Facebook comment plug...

Now you can start to explore this dataset with the chance to win incredible prices! Can't think of where to start? Try your hand at these suggestions:
- Extract useful insights and visualize them in the most interesting way possible.
- Categorize the articles into different categories based on, for example, sentiment.
- Cluster the news articles, authors or publishers based on, for example, topic.
- Make a title generator based on data such as content, description, etc.

In [ ]:
# Start coding

## Judging Criteria
| CATEGORY | WEIGHTAGE | DETAILS                                                              |
|:---------|:----------|:---------------------------------------------------------------------|
| **Analysis** | 30%       | <ul><li>Documentation on the goal and what was included in the analysis</li><li>How the question was approached</li><li>Visualisation tools and techniques utilized</li></ul>       |
| **Results**  | 30%       | <ul><li>How the results derived related to the problem chosen</li><li>The ability to trigger potential further analysis</li></ul> |
| **Creativity** | 40% | <ul><li>How "out of the box" the analysis conducted is</li><li>Whether the publication is properly motivated and adds value</li></ul> |